<img src="http://placehold.it/350x150">
<ol>
	<li>		
		<%= link_to "Startseite", root_path %>
	</li>

	<li>
		<%= link_to "Leistungen", pages_leistungen_path %>
	</li>

	<li>
		<%= link_to "Über uns", pages_ueber_uns_path %>
	</li>

	<li>
		<%= link_to "Kontakt", pages_kontakt_path %>
	</li>

	<li>
		<%= link_to "Anfahrt", pages_anfahrt_path %>
	</li>
</ol>