<div class="menu">
<ul>
		<li>		
			<%= link_to "Startseite", root_path %>
		</li>

		<li>
			<%= link_to "Leistungen", leistungen_path %>
		</li>

		<li>
			<%= link_to "Über uns", ueber_uns_path %>
		</li>

		<li>
			<%= link_to "Stellenangebote", arbeiten_bei_pflege_team_bonert_path %>
		</li>

		<li>
			<%= link_to "Kontakt", kontakt_path %>
		</li>

		<li>
			<%= link_to "Anfahrt", anfahrt_path %>
		</li>

		<li>
			<%= link_to "Impressum", impressum_path %>
		</li>

		<li>
			<%= link_to "Datenschutz", datenschutz_path %>
		</li>
		
</ul>
</div>

