<%= image_tag("http://placehold.it/320x150") %>
<ul>
		<li>		
			<%= link_to "Startseite", root_path %>
		</li>

		<li>
			<%= link_to "Leistungen", leistungen_path %>
		</li>

		<li>
			<%= link_to "Über uns", ueber_uns_path %>
		</li>

		<li>
			<%= link_to "Kontakt", kontakt_path %>
		</li>

		<li>
			<%= link_to "Anfahrt", anfahrt_path %>
		</li>
</ul>

