<div align="center">

<%= image_tag("http://placehold.it/600x150") %>
<h1>Kontakt</h1>

<p>
  Kontakt heißt für uns auch gute Beziehungen zu pflegen, alt bewährte und ganz frische. Wir freuen uns auf jeden neuen Kunden.
</p>

<div class="row">
  <div class="col-xs-5">
    Team Pflege Bonert <br>
    Spechtweg 2 <br>
    21614 Buxtehude
  </div>

  <div class="col-cs-5">
    Tel. 040 - 8000 776 0 <br>
    Fax 040 - 45 15 62
  </div>
</div>

<br>

<p>
  E-Mail schreiben
  Schreiben Sie uns gerne eine Mail, rufen Sie uns an oder füllen Sie einfach unser Kontaktformular aus.
</p>

  <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>

    <%= f.label :anrede, "Anrede" %>
    <%= f.radio_button :anrede, "Herr" %>
    <%= f.label :anrede, "Herr" %>
    <%= f.radio_button :anrede, "Frau" %>
    <%= f.label :anrede, "Frau" %>    

    <%= f.input :name, :required => true %>
    <%= f.input :telefon %>
    <%= f.input :email, :required => true %>
    <%= f.input :message, :as => :text, :required => true %>

    <div class= "hidden">
      <%= f.input :nickname, :hint => 'Leave this field blank!' %>
    </div>
    <div>

      <br>

      <%= f.button :submit, 'Send message', :class=> "btn btn-primary" %>
    </div>
  <% end %>
</div>

