<!DOCTYPE html>
<html>
<head>
  <title>NursingService</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="saffron-light alegreya-black">

<div class="row">
	
	<div class="col-xs-5">
		<%= render "shared/menu" %>
	</div>	

	<div class="col-xs-6 saffron center main-section">
		<%= yield %>
	</div>

</div>

<div class="saffron">
	<%= render "shared/footer" %>	
</div>

</body>
</html>
