<!DOCTYPE html>
<html>
<head>
  <title>NursingService</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="alegreya-black background font-color">

<div class="row">
	
	<div class="col-xs-3">
		<%= render "shared/menu" %>
	</div>	

	<div class="col-xs-8 main-color no-padding">
		<%= yield %>
	</div>

	<a class="scrollToTop"><i class="fa fa-chevron-up"></i></a>

</div>


</body>
</html>
