<!DOCTYPE html>
<html>
<head>
  <title>NursingService</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="yellow alegreya-black">

<div class="row">
	<div class="border col-xs-3">
		<%= render "shared/menu" %>
	</div>

	<div class="border col-xs-6">
		<%= yield %>
	</div>
</div>

<div class="border">
	<%= render "shared/footer" %>	
</div>

</body>
</html>
