<!DOCTYPE html>
<html>
<head>
  <title>NursingService</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="yellow">

<div class="one-third left">
	<%= render "shared/menu" %>
</div>

<div class="two-third right">
	<%= yield %>
</div>

</body>
</html>
